body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
}

.user-info {
  display: flex;
  align-items: center;
}
.logout-container {
  text-align: right;
  margin: 10px;
}

.logout-btn {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: darkred;
}

.notification {
  margin-right: 20px;
  cursor: pointer;
}

.badge {
  background: red;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
}

.profile {
  background: white;
  color: #007bff;
  padding: 8px 12px;
  border-radius: 50%;
  font-weight: bold;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  margin-left: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.timekeeping {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.check-in,
.check-out {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-in {
  background: green;
  color: white;
}

.check-out {
  background: red;
  color: white;
}
.content-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background: #007bff;
  color: white;
}

button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}
