body {
    font-family: Arial, sans-serif;
    background-image: url("../static/image/nen2_2.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 20px;
}
h2 {
    color: #004080;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #004080;
    color: white;
}