body {
    font-family: Arial, sans-serif;
    background-image: url("../static/image/nen2_2.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 20px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #004080;
}
.btn-warning {
    background-color: #ff9800;
    border: none;
}