<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../static/home_HR.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="menu-group">
        <h3>QUẢN LÝ</h3>
        <ul>
          <li>
            <a href="{{ url_for('home_HR') }}"><i>👥</i> Hiring</a>
          </li>
          <li>
            <a href="{{ url_for('dashboard_AD') }}"><i>👔</i> Admin </a>
          </li>
          <li>
            <a href="{{ url_for('home_AC') }}"><i>📈</i> Accountant </a>
          </li>
          <li>
            <a href="{{ url_for('home_nv') }}"><i>📈</i> Employee </a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Main Content -->
    <div class="main-content">
      <div class="header">
        <h1>Dashboard</h1>
      </div>
    </div>
  </body>
</html>
