<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../static/home_HR.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Trang Chủ HR<br /></h2>
      <div class="menu-group">
        <h3>QUẢN LÝ</h3>
        <ul>
          <li>
            <a href="{{ url_for('employee_HR') }}"><i>👥</i> Nhân viên</a>
          </li>
          <li>
            <a href="{{ url_for('depart_pos') }}">
              <i>👔</i> Phòng ban và công việc
            </a>
          </li>
          <li>
            <a href="{{ url_for('recruitment_HR') }}"><i>📝</i> Quản Lí Tuyển Dụng </a>
          </li>
          <li>
            <a href="{{ url_for('reports_HR') }}"><i>📈</i> Báo cáo nhân sự </a>
          </li>
        </ul>
      </div>
      <div class="menu-group">
        <h3>HỆ THỐNG</h3>
        <ul>
          <li>
            <a href="{{ url_for('logout') }}"><i>🚪</i> Đăng xuất</a>
          </li>
        </ul>
      </div>
</div>


    <!-- Main Content -->
    <div class="main-content">
      <div class="header">
        <h1>Dashboard</h1>
        <div class="user-info">NGUYỄN VĂN A <br />HR </div>
      </div>
    </div>
  </body>
</html>
